FIREBASE_PROJECT_ID=appalmacen-xxxxx
FIREBASE_STORAGE_BUCKET=appalmacen-xxxxx.appspot.com
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
ALLOW_OVERHANG_CM_DEFAULT=2
PALLET_LENGTH_CM_DEFAULT=48
PALLET_WIDTH_CM_DEFAULT=40
PALLET_MAX_HEIGHT_CM_DEFAULT=84
PALLET_MAX_WEIGHT_KG_DEFAULT=900
MAX_DOWNLOAD_SIZE_MB=15
TESSERACT_CMD=C:\\Program Files\\Tesseract-OCR\\tesseract.exe

